body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./images/christian-lischka-taz4Xc32UCs-unsplash.jpg'); /*https://unsplash.com/photos/taz4Xc32UCs by Christian Lischka*/
  background-size: cover;
  box-shadow: inset 0 0 300px black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.row {
  height: 100vh;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

span{
  font-size: 0.8rem;
}